body {
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
}
#formul-header {
    display: flex;
    /* margin: 50px; */
}

#fourmul-header nav {
    color: red;
}
    button {
        background-color: #1D6154 ;
        border-radius: 50px;
        height: 36px;
        width: 179px;
    }